#bitcoin-bot-landing-main-title {
    font-size: 60px !important;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    color: white;
}

#bitcoin-bot-landing-second-title {
    font-size: 40px !important;
    font-weight: 100 !important;
    color: #a5ffe9;
    margin-top: 0;
}

#bitcoin-bot-profits-section {
    background: linear-gradient(0deg, rgba(61, 61, 137, 1) 5%, rgba(159, 97, 195, 1) 90%);
}

#bitcoin-bot-profits-section h2 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 3px;
    color: white;
    padding-right: 100px;
}

#bitcoin-bot-profits-section p {
    font-size: 25px;
    color: white;
    padding-right: 100px;
}

#pay-profits-container {
    background-color: #353584;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
    padding: 40px;
    margin-top: 60px;
}

#pay-profits-container h3 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 0.1px, 0.1px 0px, 0.1px 0.1px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    margin: 20px 0;
}

#pay-profits-container p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0;
}

#what-i-need-section {
    background-color: white;
}

#what-i-need-section {
    padding: 70px;
    text-align: center;
}

#what-i-need-section h2 {
    font-size: 60px !important;
    font-weight: bold;
    text-shadow: 0px 1.2px, 1.2px 0px, 1.2px 1.2px;
    letter-spacing: 1px;
    color: #353584;
}

#what-i-need-section p {
    width: 250px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#routesheet-section.bitcoinbot {
  background: url("../../assets/images/start-section-bitcoinbot-background.png");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

#routesheet-section.bitcoinbot h2 {
    font-size: 60px !important;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    color: white;
}

#routesheet-section.bitcoinbot .route-card-code {
    font-size: 60px !important;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
}

#routesheet-section.bitcoinbot .route-card-title {
    font-size: 28px !important;
    color: white;
    font-weight: 100 !important;
    min-height: 100px;
}

#routesheet-section.bitcoinbot .route-card-body {
    font-style: italic;
    margin-top: 20px;
    font-size: 20px;
    padding: 0 30px;
    font-weight: 100 !important;
}

#referers-bitcoinbot-section {
    background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
}

#referers-bitcoinbot-section .row {
    padding-top: 80px;
}

#referers-bitcoinbot-section h2 {
    font-size: 60px !important;
    font-weight: bold;
    text-shadow: 0px 1.2px, 1.2px 0px, 1.2px 1.2px;
    letter-spacing: 1px;
    color: #353584;
}

#referers-bitcoinbot-section p {
    font-size: 20px;
}

#referers-bitcoinbot-section .refers-bitcoinbot-feature {
    font-size: 20px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media (max-width: 1370px) {
  #routesheet-section.bitcoinbot {
    background-size: auto;
  }
}

@media (max-width: 712px) {
    #bitcoin-bot-landing-main-title {
        font-size: 40px !important;
    }

    #bitcoin-bot-landing-second-title {
        font-size: 20px !important;
    }
}
