
.autoScrollerWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.autoScrollerWrapper_vertical {
    flex-direction: column;
    flex-flow: column;
}

.autoScrollerWrapper_horizontal {
    flex-direction: row;
    flex-flow: row;
}

.autoScrollItemWrapper {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}
