#paymentsTable thead th{
    border: none!important;
    color: #9B5BC1;
    font-weight: bolder;
}
#paymentsTable tbody tr td{
    font-weight: lighter;
    border: none;
}
#paymentsTable tbody tr:nth-child(even) {background: #fff}
#paymentsTable tbody tr:nth-child(odd) {background: #F8F3FB}
