.info-container {
    /*padding: 5% 20%;*/
}

.confirmation-title {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    color: #9B5BC1;
    padding: 20px 0;
    text-align: center;
}

.confirmation-description {
    font-size: 17px;
    text-align: center;
}

.confirmation-button {
    font-size: 17px;
    font-weight: bold;
    background-color: #9B5BC1;
    padding: 5px 40px;
    border-radius: 20px;
    color: white;
    margin: 10px 0;
}