.main-section {
    background-color: #F6F6F6;
    padding-bottom: 50px;
}

.filter-section {
    background-color: white;
    padding-top: 0px;
    position: relative;
    z-index: 2;
    padding-bottom: 0px;
    transition: max-height 1s ease;
    overflow: hidden;
    max-height: 500px;
}

.filter-border {
    height: 15px;
    background-color: white;
    position: relative;
    z-index: 2;
}

.filter-border.shadow-box{
    z-index: 1;
    box-shadow: 0px 3px 20px 0px #00000045;
}

.filter-section.hide {
    max-height: 0;
}

.filterButton {
    color: #9B5BC1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 0 20px 20px;
    z-index: 2;
    padding: 5px 40px;
    font-size: 18px;
    font-weight: bold;
}

.filterButton:hover {
    cursor: pointer;
}

#filterOption {
    width: 100%;
}

#filterText {
    width: 100%;
}

.exportRegisters {
    color: white;
    background-color: #9b5bc1;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 25px;
    border: none;
}

.exportRegisters:hover {
    cursor: pointer;
}

.results-title {
    color: #353584;
    font-weight: bold;
    font-size: 18px;
}

.control-panel-arrow-background {
    background: linear-gradient(90deg, rgba(92,70,141,1) 0%, rgba(151,94,184,1) 100%);
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    min-height: 300px;
}

#control-panel-potency-bnefits-next {
    font-size: 40px;
    color: white;
}

#control-panel-potency-bnefits-title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 2px;
}

#control-panel-potency-bnefits-title .control-panel-benefits {
    display: block;
    font-size: 100px;
}

.control-panel-potency-bnefits-description {
    font-size: 20px;
    color: white;
}

.control-panel-potency-bnefits {
    padding: 60px;
    position: absolute;
    top: 0;
    max-width: 700px;
}

.warning-section {
    background-color: #151c50;
    color: white;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
}