.prodCol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.grilla {
    padding-left: 10%;
    box-sizing: border-box;
    padding-top: 40px;
}

.prodSelected img{
    border: 2px solid #5007a7;
    border-radius: 10px;
}
.panelProds {
    padding: 25px;
}
.panelProds h4{
    color: #353584;
}

.panelProds .subtt{
    margin-top: 10px;
    color: #353584;
}
.panelProds p{
    margin-top: 15px;
    text-align: justify;
    max-width: 90%;
}

.listaAcciones{
    list-style: none;
    padding: 0;
}

.listaAcciones li{
    border: 1px solid #9B5BC1;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 20px;
    cursor: pointer;
    color: #9B5BC1;
    font-weight: bold;
    margin-bottom: 15px;
}
.listaAcciones li a{
    color: #9B5BC1;
}