.informeUnico{
    height: 400px;
    margin-bottom: 50px;
    padding: 0;
}

.informeUnico img {
    width: 100%;
}

.informeCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.informeCard h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    text-align: center;

    /* Text */

    color: #222222;
}

.informeCard .detalles{
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 160px;
}
.informeCard .asset{
    height: 250px;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

.informeCard .asset p{
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informeCard .asset p span{
    margin-top: -10px;
    font-size: 35px;
}

.informeCard .detalles button{
    background-color: #9B5BC1;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 200px;
}