.route {
    font-size: 18px;
}

.route-link {
    color: #A5FFE9;
}

.route-arrow {
    color: #FFFFFFCC;
}

.route-current {
    color: white;
    font-weight: bold;
}

.return-button {
    background-color: #a3f8e9;
    color: #353584;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 40px;
    border-radius: 20px;
}

.billing-element {
    position: relative;
    z-index: 1;
    padding: 10px 0px;
    color: #9B5BC1;
}

.billing-element.selected {
    font-weight: bold;
    text-shadow: 0px 0.2px, 0.2px 0px, 0.2px 0.2px;
    letter-spacing: 1px;
    border-right: solid 8px;
}

.info-container {
    border-left: 1px solid #CCC;
    box-shadow: -6px 0 10px -3px #EEE;
    padding: 20px 30px;
}

.price-section, .currency-section {
    display: flex;
    flex-direction: column;
    border: solid 2px #CCC;
    border-radius: 15px;
    min-width: 400px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

.price-title {
    color: #353584;
    font-size: 35px;
}

.price {
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
}

.generate-button {
    margin-top: 10px;
    background-color: #9b5bc1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    padding: 7px 40px;
    border: none;
}

.generate-button:hover {
    cursor: pointer;
}
.loaderWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.todosMetodos{
    display: flex;
    flex-direction: row;
}
.todosMetodos .metodoPago{
    display: flex;
    flex-direction: row;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.todosMetodos .metodoPago img{
    width: 35px;
    height: 35px;
}
.todosMetodos .metodoPago input{
    font-size: 40px;
    transform: scale(1.7);
}

.todosMetodos .metodoPago span{
    width: 150px;
    margin-left: 10px;
    font-size: 13px;
}