.referUser {
    background-color: white;
    padding: 20px 10px;
    display: flex;
    width: 100%;
    overflow: auto;
    border-radius: 10px;
    color: #222222;
}

.referUserDot{
    width: 2%;
    text-align: center;
    min-width: 30px;
    margin-right: 10px;
}

.referUserName {
    font-weight: bold;
    font-size: 18px;
    width: 35%;
    min-width: 200px;
}

.referUserReferCount {
    font-size: 15px;
    width: 20%;
    min-width: 100px;
}

.referUserLevel {
    font-size: 15px;
    width: 20%;
    min-width: 100px;
}

.referUserPackage {
    font-size: 15px;
    width: 20%;
    min-width: 100px;
}

.mensajeSolo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.mensajeSolo h3{
    size: 24px;
    color: #353584;
    font-weight: bold;
}

.mensajeSolo button{
    width: 350px;
    padding: 8px;
    background-color: #9B5BC1;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}