.listaFacturas .invoice{
    background-color: white;
    display: grid;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    grid-template-columns: 50% 15% 20% 15%;
    grid-template-rows: 100%;
}
.listaFacturas .invoice .present{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.listaFacturas .invoice .present > svg{
    margin-right: 10px;
}
.listaFacturas .invoice .present > div{
    display: flex;
    flex-direction: column;
}

.listaFacturas .invoice .peque {
    font-size: 12px;
}
.listaFacturas .invoice .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listaFacturas .invoice .botones {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listaFacturas .invoice .botones .otroEstado{
    font-weight: bolder;
    margin-left: 20px;
}

.listaFacturas .invoice button {
    background-color: #171717;
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 20px;
    width: 100px;
    margin-left: 10px;
}

.listaFacturas .invoice .gordo {
    font-weight: bolder;
}

.mensajeSolo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.mensajeSolo h3{
    size: 24px;
    color: #353584;
    font-weight: bold;
}

.mensajeSolo a{
    width: 350px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9B5BC1;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.mensajeSolo a:hover{
text-decoration: none;
}