#report-header-container {
    background-image: url("../../../assets/images/report-header-background.png");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.return-benefits-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 50px;
    margin: 15px;
    border-radius: 6px;
    color: #353584;
}

.return-benefits-title {
    font-size: 30px;
}

.return-benefits {
    font-size: 100px;
    font-weight: bold;
    text-shadow: 0px 1.5px, 1.5px 0px, 1.5px 1.5px;
    letter-spacing: 2px;
    line-height: 80px;
    margin-bottom: 20px;
}
.return-benefits-button {
    font-size: 18px;
    padding: 10px 50px;
    color: #353584;
    background-color: #A5FFE9;
    border-radius: 25px;
    font-weight: bold;
    border: none;
}

.report-title {
    font-size: 40px;
    color: #A5FFE9;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    margin-top: 30px;
}

.report-description {
    font-size: 23px;
    color: white;
}

.title-n-desc-row {
    margin-bottom: 100px;
}

.icon-header {
    height: 100px;
}

.icon-header-title {
    margin-top: 20px;
    font-size: 18px;
}

.icon-header-content {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
}

@media (max-width: 1656px) {
    #report-header-container {
        background-position: center top;
        background-size: 1660px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 884px) {
    #report-header-container {
        background-position: center top;
        background-size: 1800px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 544px) {
    #report-header-container h2 {
        font-size: 30px;
    }
}
