.fullLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(53,53,132);
    background: linear-gradient(145deg, rgba(53,53,132,1) 0%, rgba(155,91,193,1) 100%);
    width: 100%;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
}
.fullLogin .container-form {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/images/red.svg");
    background-repeat: no-repeat;
    background-size: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullLogin .logo {
    position: absolute;
    width: 280px;
    top: 20px;
    left: 30px;

}
.fullLogin .entradaDatos{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.fullLogin .entradaDatos::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: .5; /* Firefox */
    font-style: italic;
    font-weight: lighter!important;
}
  
.fullLogin .entradaDatos:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: .5; /* Firefox */
    font-style: italic;
    font-weight: lighter!important;
}

.fullLogin .entradaDatos::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: .5; /* Firefox */
    font-style: italic;
    font-weight: lighter!important;
}
.fullLogin .entradaDatos:focus {
    box-shadow: none;
    -webkit-appearance: none;
    outline: none;
}
.fullLogin .red {
    position: absolute;
    width: 80%;
    top: 0;
    opacity: .6;
    left: 0;
}
.fullLogin .whited {
    color: white;
}
.fullLogin .box {
    width: 600px;
    text-align: center;
    z-index: 2;
    padding: 20px;
}
.fullLogin .box h1{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
margin-bottom: 20px;
}
.fullLogin button {
    margin-top: 50px;
    text-align: center;
padding: 8px 40px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 133% */


/* Purple - Dark */

color: #353584;
border: none;
width: 157px;
height: 48px;

background: rgba(255, 255, 255, 0.4);
border-radius: 100px;
}

.fullLogin p {
    margin-top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;
}

.fullLogin p a{
    color: #A5FFE9;
    font-weight: bold;
}

@media (max-width: 770px) {
    .fullLogin .container-form {
        background-size: 700px;
    }
}

@media (max-width: 480px) {
    .form-title {
        font-size: 30px !important;
    }

    .fullLogin .container-form {
        background-size: 600px;
    }
}