#panel {
    background: linear-gradient(0deg, rgba(53, 53, 132, 1) 0%, rgba(148, 88, 189, 1) 100%);
}

#panel.background-white {
    background: linear-gradient(0deg, rgba(244,244,244,1) 5%, rgba(255,255,255,1) 76%, rgba(184,156,203,1) 90%);
}

#panel-header-container {
    background-image: url("../../assets/images/panel-header-background.png");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 670px;
    overflow: hidden;
}

#panel-header-container.smallBackground {
    background-image: url("../../assets/images/control-panel-header-background.png");
    height: 400px;
}

#panel-header-container .container {
    color: white;
    font-size: 25px;
}

#panel-header-container h2 {
    font-weight: bolder;
    font-size: 45px;
}

#panel-header-container .row:first-of-type {
    margin-top: 0;
}

#panel-header-container .row {
    margin: 8% 0;
}

#panel-header-container .row:last-of-type {
    margin-bottom: 0;
    padding-bottom: 2%;
}

#support-button {
    color: #9b5bc1;
    background-color: white;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 50px;
    border: none;
}

#support-button:hover {
    background-color: #eee;
}

#toggle {
    position: relative;
}

#toggle-button {
    color: white;
    font-size: 20px;
    background-color: #fff0;
    border: none;
    margin-left: 20px;
}

#toggle-menu {
    background-color: #353584;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 25px;
    top: 70px;
}

#toggle-menu.visible {
    display: flex;
}

a.toggle-item {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 17px 35px;
    border-bottom: 1px solid #a000ff4a;
}

a.toggle-item:hover {
    color: #9b5bc1;
    background-color: white;
}

#confirmed-title {
    font-size: 60px !important;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    color: #a5ffe9;
}

#panel-header-container.smallBackground #confirmed-title {
    font-size: 40px !important;
}

#confirmed-description {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    max-width: 600px;
}

@media (max-width: 1656px) {
    #panel-header-container {
        background-position: center top;
        background-size: 1660px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 884px) {
    #panel-header-container {
        background-position: center top;
        background-size: 1800px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 544px) {

    #confirmed-title {
        font-size: 40px !important;
    }

    #panel-header-container h2 {
        font-size: 30px;
    }

    #confirmed-description {
        font-size: 16px;
        margin-bottom: 15px !important;
    }

    #panel-header-container {
        background-position: center top;
        background-size: 2000px;
        background-repeat: no-repeat;
    }

    .navbar {
        display: block !important;
    }
}
