#control-panel-header-container {
    background: rgb(53,53,132);
background: linear-gradient(180deg, rgba(53,53,132,1) 0%, rgba(155,91,193,1) 100%);
    overflow: hidden;
    position: relative;
}

#support-button {
    cursor: pointer;
}
#toggle-menu{
    z-index: 2;
}

#control-balance-title {
    text-align: center;
    margin-top: -5px;
    font-size: 25px !important;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    color: #a5ffe9;
}

#control-balance {
    text-align: center;
    font-size: 30px !important;
    color: white;
}

#control-last-hours {
    text-align: center;
    font-size: 20px !important;
    color: white;
    display: flex;
    align-items: center;
}

#daysLeftText {
    font-size: 15px;
    color: white;
}

#packageText {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    color: white;
}

#upgradeButton {
    font-size: 18px;
    padding: 2px 50px;
    font-weight: bold;
    border:none;
    background: #A5FFE9;
    border-radius: 100px;
    color: black;
}

.controlPanelLink {
    padding-bottom: 30px;
}


.controlPanelLink:hover {
    cursor: pointer;
}

.controlPanelLink.selected {
    border-bottom: solid 10px white;
}

@media (max-width: 1656px) {
    #control-panel-header-container {
        background-position: center top;
        background-size: 1660px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 884px) {
    #control-panel-header-container {
        background-position: center top;
        background-size: 1800px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 544px) {

    #control-balance-title {
        font-size: 15px !important;
    }

    #control-panel-header-container h2 {
        font-size: 30px;
    }
}
