#signal-trading {
    margin-top: 120px;
    margin-bottom: 100px;
}

#signal-trading-title {
    font-size: 40px;
    color: #9B5BC1;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
}

#levels-trading-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.level-trading {
    margin: 0 50px;
}

#s-table, 
#cma-table {
    width: 100%;
}

#s-table tr :nth-child(2),
#cma-table tr :nth-child(2),
#cma-table tr :nth-child(3),
#cma-table tr :nth-child(4) {
    text-align: center;
    padding: 10px 20px;
    padding-right: 10px;
    font-weight: bold;
}
#s-table tr :nth-child(1),
#cma-table tr :nth-child(1) {
    padding: 10px 20px;
    padding-left: 40px;
}

#s-table tr img,
#cma-table tr img {
    padding: 0 !important;
}

thead > tr td svg {
    padding: 0 !important;
}

thead > tr td {
    font-weight: bold;
    color: #9B5BC1;
    border-bottom-width: 0.1px !important;
    border-bottom-style: solid;
    border-block-color: #E0E0E0;
}

#s-table tbody > :nth-child(2n),
#cma-table tbody > :nth-child(2n) {
    background-color: #FAF1FF;
}

.justification-title {
    font-size: 30px;
    color: #9B5BC1;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    text-align: center;
}