body {
    position: relative;
    width: 600px;
    height: 839px;
    border: 1px solid #e2e2e2;
    background: #F6F6F6;
}
h2 {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 30px;
    top: 305px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 44px;
    /* identical to box height, or 110% */

    text-align: center;

    /* Purple - Light */

    color: #9B5BC1;
}
h1{
    position: absolute;
width: 100%;
height: 44px;
left: 30px;
top: 350px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 44px;
/* identical to box height, or 110% */

text-align: center;

/* Purple - Light */

color: #9B5BC1;
}

.intro{
    position: absolute;
    width: 80%;
    height: 83px;
    left: 0;
margin-left: 10%;
    top: 428px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #222222;
}

a{

/* Auto Layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

position: absolute;
padding: 12px 40px;
width: 80%;
height: 54px;
box-sizing: border-box;
left: 0;
margin-left: 10%;
top: 530px;
font-family: "Montserrat";
font-style: normal;
text-decoration: none;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;

/* Purple - Dark */

color: #353584;
/* Links */

background: #A5FFE9;
border-radius: 100px;
}

.footer{
    position: absolute;
width: 600px;
height: 100px;
left: 0px;
top: 739px;

}

.grayBG{
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    top: 655px;
    padding: 15px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #222222;
    background: #EEEEEE;
}