<!DOCTYPE html >
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Verificar dirección de correo electrónico | ADN Crypto</title>
    <link href="verificarMail.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
    <img src="https://firebasestorage.googleapis.com/v0/b/adncrypto-8f596.appspot.com/o/cabezal.png?alt=media&token=1a0f7c4e-b05c-47f2-b931-6d34088f4411" />
    <h2>Hola {{nombre}}</h2>
    <h1>¡Solo un paso más!</h1>
    <p class="intro">
        Todo lo que necesitas hacer es clic en el botón que encontrarás a continuación para verificar la titularidad de esta dirección de
        correo electrónico.
    </p>
    <a href="{{link}}" target="_blank">
        Confirma tu correo electrónico
    </a>
    <p class="grayBG">
        Si no verificas tu dirección de correo electrónico, tu proceso de registro en ADN quedará suspendido y sin efecto.
    </p>
    <img class="footer" src="https://firebasestorage.googleapis.com/v0/b/adncrypto-8f596.appspot.com/o/footer.png?alt=media&token=f7d419ce-1589-47db-b200-7785771f06f2"/>
</body>
</html>
