.price-btc {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0.2px, 0.2px 0px, 0.2px 0.2px;
    letter-spacing: 1px;
}

.btn-modal-cancel {
    border-radius: 20px;
    padding: 5px 40px;
    font-weight: bold;
    border-width: 2px;
}

.btc-address-title {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 0.2px, 0.2px 0px, 0.2px 0.2px;
    letter-spacing: 1px;
}

.btc-address {
    font-size: 15px;
}

.left-time {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0.2px, 0.2px 0px, 0.2px 0.2px;
    letter-spacing: 1px;
}
.myAlert{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
}

.facturaDetalles .myAlert.success{
    background-color: green;
}
.facturaDetalles .myAlert.error{
    background-color: #dc3545;
}

.facturaDetalles .myAlert.info{
    background-color: #17a2b8;
}
.facturaDetalles .myAlert.alert{
    background-color: #ffc107;
}