.carrusel {
  margin: auto;
  overflow: hidden;
  position: relative;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-320px * 90 - 5%));
  }
}

.carruselPista {
  animation: scroll 300s linear infinite;
  display: flex;
  width: calc(320px * 90);
	padding-left: 100%;
	padding-right: 100%;
}
.elementoCarrusel {
  width: 250px;
  margin-left: 70px;
}
#services-section {
  overflow-y: hidden;
}

#services-section .graph {
  right: -47px;
  position: absolute;
  bottom: -51px;
  z-index: -1;
  width: 300px;
}
#services-section .luz {
  position: absolute;
  right: 1px;
}

#services-section .luzAnimada {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: bounce-1;
  animation-timing-function: linear;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(-50px);
  }
}
.headerCoins .coin {
  width: 33%;
  max-width: 200px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: bounce-2;
  animation-timing-function: ease-in-out;
}
.headerCoins .delayCoin {
  width: 33%;
  max-width: 200px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce-3;
  animation-timing-function: ease-in-out;
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounce-3 {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
