.multi-switch-container {
    width: auto !important;
    padding: 0;
}

.multi-switch-handle {
    top: 0;
}

.package-title {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
    letter-spacing: 1px;
    color: white;
    margin: 0;
}

.package-price {
    font-size: 30px;
    color: #A5FFE9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
}

.price-real {
    font-size: 22px;
    color: #E5E5E5;
}

.border-recomended{
    min-width: 310px;
    min-height: 380px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.border-recomended.recomended {
    border: solid 3px #A5FFE9;
    margin-bottom: 20px;
}

.package-features-box {
    background-color: white;
    border-radius: 5px;
    width: 95%;
    height: 420px;
    padding: 30px;
    margin: 10px;
}

.package-features {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.package-recomended {
    background-color: #9B5BC1;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 15px;
}

.package-current {
    background-color: #594F9A;
    color: #FFFFFFAA;
    border-radius: 20px;
    font-weight: bold;
    width: min-content;
    margin: auto;
    padding: 8px 35px;
}

.package-select-button {
    background-color: #A5FFE9;
    color: #353584;
    border-radius: 20px;
    font-weight: bold;
    width: min-content;
    margin: auto;
    padding: 12px 35px;
    margin-left: 40px;
}

.package-select-button:hover {
    cursor: pointer;
}

.services-text {
    max-width: 800px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.package-discount-container {
    margin-top: -30px;
}

.package-discount{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-top: -60px;
    line-height: 22px;
    margin-bottom: 25px;
}

.package-discount-number{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0.1px, 0.1px 0px, 0.1px 0.1px;
    letter-spacing: 1px;
}