.channel-icon {
    min-height: 100px;
    display: flex;
    align-items: center;
}

.channel-type {
    color: #a5ffe9;
}

.channel-description {
    text-align: center;
    max-width: 250px;
    font-size: 15px;
    color: white;
}

#coming-soon-section {
    background-color: white;
    transform: skewY(-3deg);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 150px;
    margin-bottom: 100px;
}

#coming-soon-section .row {
    transform: skewY(3deg);
}

#coming-soon-next {
    color: #9b5bc1;
    font-size: 40px;
}

#coming-soon-title {
    color: #353584;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 2px;
}

#coming-soon-image {
    width: 100%;
    min-width: 300px;
}

.coming-soon-description {
    font-size: 20px;
}

.list {
    padding-left: 40px;
    margin-bottom: 40px;
}

.coming-soon-button {
    background-color: #9b5bc1;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 60px;
    border: none;
    border-radius: 30px;
}

.info-icon img {
    height: 300px;
}

.info-title {
    font-size: 40px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 2px;
    color: white;
}

.info-description {
    color: white;
    font-size: 18px;
    max-width: 550px;
    font-weight: 100;
    text-align: center;
}

.arrow-background {
    background-color: white;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    min-height: 300px;
}

.arrow-image {
    width: 100%;
    margin-top: -5%;
}

.potency-bnefits {
    padding: 60px;
    position: absolute;
    top: 0;
    max-width: 700px;
}

#potency-bnefits-next {
    color: #353584;
    font-size: 40px;
}

#potency-bnefits-title {
    color: #9b5bc1;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 2px;
}

#potency-bnefits-title .benefits {
    display: block;
    font-size: 100px;
}

#potency-bnefits-image {
    width: 100%;
    min-width: 300px;
}

.potency-bnefits-description {
    font-size: 20px;
}

.potency-bnefits-button {
    background-color: #A5FFE9;
    color: #353584;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 60px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}

@media (max-width: 1700px) {
    .potency-bnefits {
        padding: 40px;
    }
    
    #potency-bnefits-next {
        font-size: 30px;
    }
    
    #potency-bnefits-title {
        font-size: 40px;
    }
    
    #potency-bnefits-title .benefits {
        font-size: 70px;
    }
    
    .potency-bnefits-description {
        font-size: 18px;
    }
    
    .potency-bnefits-button {
        font-size: 18px;
        padding: 10px 50px;
    }
}

@media (max-width: 1330px) {
    .potency-bnefits {
        padding: 35px;
        max-width: 1000px;
    }
    
    #potency-bnefits-next {
        font-size: 25px;
    }
    
    #potency-bnefits-title {
        font-size: 35px;
    }
    
    #potency-bnefits-title .benefits {
        font-size: 50px;
    }
    
    .potency-bnefits-description {
        font-size: 16px;
    }
    
    .potency-bnefits-button {
        font-size: 16px;
        padding: 10px 50px;
        margin-top: 10px;
    }
}

@media (max-width: 1050px) {
    
    #potency-bnefits-title {
        font-size: 20px;
    }
    
    #potency-bnefits-title .benefits {
        font-size: 30px;
    }

    .potency-bnefits-description {
        margin-bottom: 5px;
    }

    .potency-bnefits-button {
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    #coming-soon-next {
        font-size: 30px;
    }

    #coming-soon-title {
        font-size: 60px;
    }

    #coming-soon-image {
        min-width: 150px;
    }
}
