.imageSelect,
.imageSelect span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.imageSelect {
    line-height: 0px;
}
.imageSelect-selected {
    border: 1px solid #fff;
    padding: 2px 10px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff00;
    margin-left: 40px;
}
.imageSelect-selected:hover {
    opacity: 0.7;
}
.imageSelect-selected-image,
.imageSelect-options-image {
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.imageSelect-selected::after {
    content: "❮ ❯";
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 10px;
    color: #bbb;
}
.imageSelect .imageSelect-options {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    top: 0px;
    left: 40px;
    right: 0px;
    overflow: hidden;
    display: none;
    z-index: 500;
}
.imageSelect .imageSelect-options.show {
    display: inline;
}
.imageSelect .imageSelect-options-image-wrapper {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 5px 0px;
}
.imageSelect .imageSelect-options-image-wrapper:hover {
    background-color: #eee;
}
.imageSelect .imageSelect-options-image {
}
