.fullScreen {
    background: rgb(53, 53, 132);
    background: linear-gradient(145deg, rgba(53, 53, 132, 1) 0%, rgba(155, 91, 193, 1) 100%);
    width: 100%;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
}
.fullScreen .container-form {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/images/red.svg");
    background-repeat: no-repeat;
    background-size: 1000px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px auto 100px;
}
.fullScreen a {
    color: white;
    text-decoration: underline;
}
.fullScreen .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fullScreen .logo {
    width: 280px;
}
.fullScreen .form {
    z-index: 5;
}
.fullScreen .wrpLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 2;
}
.fullScreen .link {
    color: #a5ffe9;
}
.fullScreen .link:visited {
    color: #a5ffe9;
}

.fullScreen .flechas {
    position: absolute;
    top: 4%;
    right: 15px;
}

.fullScreen .filas {
    flex-direction: column;
    height: 100%;
}

.fullScreen .whited {
    color: white;
}

.fullScreen .buttnFull {
    background-color: #a5ffe9;
    border: none;
    margin-top: 30px;
    padding: 7px 30px;
    border-radius: 30px;
    color: #353584;
    font-size: 20px;
    font-weight: 600;
}

.fullScreen .entradaDatos {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 24px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.fullScreen .entradaDatos:focus {
    box-shadow: none;
    -webkit-appearance: none;
    outline: none;
}
.fullScreen .entradaDatos::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
    font-style: italic;
    font-weight: lighter !important;
}

.fullScreen .entradaDatos:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.5; /* Firefox */
    font-style: italic;
    font-weight: lighter !important;
}

.fullScreen .entradaDatos::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    opacity: 0.5; /* Firefox */
    font-style: italic;
    font-weight: lighter !important;
}
.fullScreen .dot {
    width: 24px;
    height: 24px;
    display: block;
    border: 1px solid white;
    margin-right: 20px;
    border-radius: 24px;
}

.fullScreen .dot.hecho {
    background: #a5ffe9;
    border: none;
}
.fullScreen .dot.actual {
    background: white;
    border: none;
}
.fullScreen .dot:last-child {
    margin-right: 0;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 890px) {
    .fullScreen .container-form {
        background-size: 700px;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 100px auto 100px;
    }

    .fullScreen .wrpLink {
        margin-left: -70px;
    }

    .social-container {
        flex-direction: column;
        padding-bottom: 60px;
    }

    .social {
        margin-top: 5px;
    }

}

@media (max-width: 480px) {
    .fullScreen .container-form {
        background-size: 600px;
    }
}
